body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #111317;
color: #ffffff;
}


.container {
max-width: 1200px;
margin: auto;
padding: 50px 20px;
}


h1 {
text-align: center;
font-size: 42px;
margin-bottom: 10px;
color: orange;
}


.intro-text {
text-align: center;
font-size: 18px;
max-width: 700px;
margin: auto;
line-height: 1.6;
color: #cfcfcf;
margin-bottom: 50px;
}


.services-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 25px;
}


.service-card {
background-color: #1a1d23;
padding: 25px;
border-radius: 12px;
transition: 0.3s;
border: 1px solid #2b2f36;
}


.service-card:hover {
transform: translateY(-5px);
background-color: #202329;
border: 2px solid orange;
}


.service-card h3 {
margin-bottom: 10px;
font-size: 24px;
}


.service-card p {
color: #b8b8b8;
line-height: 1.5;
}

.service-card h3::after {
content: "";
position: absolute;
left: 0;
bottom: -4px;
width: 0%;
height: 2px;
background-color: #ffffff;
transition: width 0.3s ease;
}


.service-card:hover h3::after {
width: 100%;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    width: 450px;
    min-width: 300px;
    background-color: #1E1F23;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}
.card:hover{
    background-color:  rgb(58, 58, 58);
     border: 2px solid orange;
    transform: translateY(-2px);

}
.card-content{
    padding: 16px;   
}

.card-content h3{
    color: white;
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
}

.card-content p{
    color: white;
    font-size: 15px;
    line-height: 1.2;
    margin: 20px;
}

.card-content img{
    float: right;
    height: 300px;
    margin: 10px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  gap: 20px;
  width: max-content; /* prevents extra empty space */
  transition: transform 0.4s ease;
}


.prev-btn, .next-btn {
  position: absolute;
  top: 45%;
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.3s;
}

.prev-btn:hover, .next-btn:hover {
  opacity: 1;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

.navbar {
width: 100%;
background: rgba(26, 29, 35, 0.65);
backdrop-filter: blur(12px);
padding: 15px 20px;
position: sticky;
top: 0;
z-index: 1000;
border-bottom: 1px solid rgba(255, 255, 255, 0.08);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.nav-container {
max-width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}


.logo {
color: #fff;
font-size: 22px;
text-decoration: none;
font-weight: bold;
}


.nav-links {
list-style: none;
display: flex;
gap: 25px;
}


.nav-links a {
color: #d4d4d4;
text-decoration: none;
font-size: 16px;
position: relative;
transition: color 0.3s ease;
}


.nav-links a::after {
content: "";
position: absolute;
left: 0;
bottom: -4px;
width: 0%;
height: 2px;
background-color: #ffffff;
transition: width 0.3s ease;
}


.nav-links a:hover {
color: #ffffff;
}


.nav-links a:hover::after {
width: 100%;
}


.nav-links a:hover {
color: #ffffff;
}


.menu-toggle {
display: none;
background: none;
border: none;
font-size: 28px;
color: white;
cursor: pointer;
}



@media (max-width: 768px) {
.nav-links {
position: absolute;
top: 65px;
right: 0;
background-color: #1a1d23;
width: 200px;
flex-direction: column;
gap: 15px;
padding: 20px;
border-left: 1px solid #2b2f36;
display: none;
}


.nav-links.active {
display: flex;
}


.menu-toggle {
display: block;
}
}