body{
    background-color:#111317 ;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    width: 350px;
    background-color: #1E1F23;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 20px;
}
.card:hover{
    background-color:  rgb(58, 58, 58);
     border: 2px solid orange;
    transform: translateY(-2px);

}
.card-content{
    padding: 16px;   
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    /* background-color: orange; */
    margin-top: 20px;
    margin-left: 30%;
    border: 2px solid orange;
    color: white;
}

.card-content .btn:hover{
    background-color: orange
}

.card-content h3{
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
}
.card-content h3:first-child{
    color: Orange;
    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
}

.card-content p{
    color: white;
    font-size: 15px;
    line-height: 1.3;
    margin: 20px;
}
